@{
    ViewData["Title"] = "Registration Page";
}
@{

}
<!DOCTYPE html>
<html>
<head>
</head>
<body style="  background-image: url('~/css/background.jpeg')">
    <div>
        <h1>Coming Soon...!</h1>
    </div>
</body>

</html>
